img {max-width:300px;
border:1px solid black;
border-radius:50%;}
img:hover{max-width:500px;}
a:visited{color: grey;}


a:link {color: blue;}

a:hover {color:green; 
Text-text-transform: uppercase;
}

a:active {color: pink;}

	a{font-size:22px;
	text-transform:capitalize;)